!!! 5

%html{lang: 'en'}
	%head
		%meta{charset: 'UTF-8'}
		%title= [ title, '[cae.me.uk]' ].compact.join(' ')
		%meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}

		%link{href: '/dist/Font-Awesome-4.6.3/css/font-awesome.min.css', rel: 'stylesheet'}

		= assets :css


	%body
		%nav.site-menu
			.container
				%nav.wrapper
					%a.header.item{href: '/'}
						cae.me.uk
					%input#menu-toggle{type: 'checkbox'}
						%label.label-toggle{for: 'menu-toggle'}
							%i.fa.fa-bars
					%ul
						%a.item{href: '/p/caesium.cv'}
							%li
								CV
						%a.item{href: '/p/projects'}
							%li
								Projects
						%a.item{href: '/p/ref'}
							%li
								Reference

						.right.item
							%form.search{method: 'get', action: '/sitemap'}
								%li
									%input{type: 'text', name: 'search', value: @search, placeholder: 'Search...'}

		%main.container{class: ('editing' if @editing)}
			%aside.message.under-construction
				%i.fa.fa-warning
				.content
					%h2.header This site is under construction.
					%p
						Beware of sharp edges and unfinished pages.
						May contain broken links.

				%img.right{alt: '1990s-style website construction sign', src: '/images/under_construction.png', style: 'width: 100px; height: auto'}

			= yield

		%footer
			%p
				Content on this site is licensed under
				= succeed '.' do
					%a{href: '//creativecommons.org/licenses/by-nc-nd/4.0/'} CC Attribution-NonCommercial-NoDerivatives 4.0 International

			%p
				- subdomain = SecureRandom.hex[0..5]
				- email = "chris@#{subdomain}.cae.me.uk"
				Copyright &copy; Chris Elsworth
				= succeed '.' do
					%a{href: "mailto:#{email}"} &lt;#{email}&gt;

				Some Rights Reserved.

			%p
				= succeed '.' do
					%a{href: '/sitemap'} Sitemap

				Powered by
				= succeed '.' do
					%a{href: '/p/projects.nabu'} Nabu


		= assets [ :js ], defer: true

		-# can use addLoadEvent() if I ever need more than this block
		:javascript
			window.onload = function(){ $('body').timeago() }
