!!! 5

%html{lang: 'en'}
	%head
		%meta{charset: 'UTF-8'}
		%title= [ title, '[cae.me.uk]' ].compact.join(' ')
		%meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}

		// avoiding using this for now, it doesn't get updated in PJAX requests
		// which could lead to issues if I try to use it later. Needs a think..
		//= csrf_metatag

		%link{href: '/dist/Semantic-2.1.8/semantic.min.css', rel: 'stylesheet'}
		= assets [ :css ]

		%script{src: '/dist/jquery-2.2.0.min.js', type: 'text/javascript'}

	%body
		%nav.ui.inverted.secondary.menu.site-menu
			.ui.container
				%a.header.item{href: '/'} cae.me.uk

				%a.link.item{href: '/p/caesium.cv'} CV
				%a.link.item{href: '/p/projects'} Projects
				%a.link.item{href: '/p/ref'} Reference

				.right.menu

					-# if user.logged_in?
						%a.link.item{href: '/account/logout'}= user.email
					-# else
						%a.link.item{href: '/account/login'}
							%i.user.icon

					%form.item{method: 'get', action: '/sitemap'}
						.ui.mini.action.input
							%input{type: 'text', name: 'search', value: @search, placeholder: 'Search...'}
							%button.ui.mini.icon.button{type: 'submit'}
								%i.search.icon

		%main.ui.container
			%aside.ui.orange.icon.message.under-construction
				%i.red.warning.sign.icon
				.content
					%h1.header This site is under construction.
					%p
						Beware of sharp edges and unfinished pages.
						May contain broken links.

			= yield

		%footer
			%p
				Content on this site is licensed under
				= succeed '.' do
					%a{href: '//creativecommons.org/licenses/by-nc-nd/4.0/'} CC Attribution-NonCommercial-NoDerivatives 4.0 International

			%p
				- subdomain = SecureRandom.hex[0..5]
				- email = "chris@#{subdomain}.cae.me.uk"
				Copyright &copy; Chris Elsworth
				= succeed '.' do
					%a{href: "mailto:#{email}"} &lt;#{email}&gt;

				Some Rights Reserved.

			%p
				= succeed '.' do
					%a{href: '/sitemap'} Sitemap

				Powered by
				= succeed '.' do
					%a{href: '/p/projects.nabu'} Nabu


		//%script{src: '/dist/Semantic-2.1.8/semantic.min.js', type: 'text/javascript'}
		//%script{src: '/dist/jquery.pjax-1.9.6.js', type: 'text/javascript'}
		%script{src: '/dist/smart-time-ago-0.1.5.js', type: 'text/javascript', defer: true}

		= assets [ :js ]

		:javascript
			$(window).ready(function(){
				$('body').timeago();
			});
