!!! 5

%html{lang: 'en'}
	%head
		%meta{charset: 'UTF-8'}
		%title= [ title, '[cae.me.uk]' ].compact.join(' ')
		%meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}

		-# stops favicon.ico requests which will just 404 anyway
		%link{rel: 'icon', type: 'image/png', href: 'data:image/png;base64,iVBORw0KGgo='}

		%link{href: '/dist/Font-Awesome-4.6.3/css/font-awesome.min.css', rel: 'stylesheet'}

		= assets :css
		= assets [:js, :loadjs]

		:javascript
			loadjs(#{assets_paths([:js, :app]).to_json}, 'app');

	%body
		%header.site-menu
			.container
				%a.header{href: '/'} cae.me.uk

				%input#menu-toggle{type: 'checkbox'}
				%label{for: 'menu-toggle'}
					%span

				%nav
					%ul
						%li
							%a{href: '/p/caesium.cv'} CV
						%li
							%a{href: '/p/projects'} Projects
						%li
							%a{href: '/p/ref'} Reference

				%form.search{method: 'get', action: '/sitemap'}
					%i.fa.fa-search
					%input{type: 'text', name: 'search', value: @search, placeholder: 'Search'}

		%main.container{class: ('editing' if @editing)}
			%aside.message.under-construction
				%i.fa.fa-warning
				.content
					%h2.header This site is under construction.
					%p
						Beware of sharp edges.
						May contain unfinished pages and broken links.

				%img{alt: '1990s-style website construction sign', src: '/images/under_construction.png'}

			= yield

		%footer.container
			%p
				Content on this site is licensed under
				= succeed '.' do
					%a{href: 'https://creativecommons.org/licenses/by-nc-nd/4.0/'} CC Attribution-NonCommercial-NoDerivatives 4.0 International

			%p
				- subdomain = SecureRandom.hex[0..2]
				- email = "chris@#{subdomain}.cae.me.uk"
				Copyright &copy; Chris Elsworth
				= succeed '.' do
					%a{href: "mailto:#{email}"} &lt;#{email}&gt;

				Some Rights Reserved.

			%p
				= succeed '.' do
					%a{href: '/sitemap'} Sitemap

				Powered by
				= succeed '.' do
					%a{href: '/p/projects.nabu'} Nabu

		:javascript
			/* we keep this at the bottom of <body> so all the .js-timeago
			 * elements are now in the DOM and can be manipulated */
			loadjs.ready(['app'], {
				success: function() {
					var elements = document.getElementsByClassName('js-timeago');
					var i;
					for (i = 0 ; i < elements.length ; ++i) {
						var e = elements[i];
						var time = new Date(e.getAttribute('datetime'));
						e.innerText = TimeAgo.inWords(time.getTime());
					}
				}
			});
