- @editing = true

-# not too bothered about pretty styling here, its only for my eyes
.edit-form{style: 'margin: 10px 0'}
	%form#js-edit-form{action: "/p/#{@page.name}/edit", method: 'post'}
		= csrf_tag

		%textarea#js-hidden-ta{name: 'content'}

		%button{name: 'save'} Save
		%select{name: 'visible'}
			%option{value: 1, selected: @page.visible} Visible
			%option{value: 0, selected: !@page.visible} Private
		%input{type: 'text', placeholder: 'Title', name: 'display_title', value: @pv&.display_title}
		%input{type: 'text', placeholder: 'Tags', name: 'tags', value: @page.tags.map(&:name).join(',')}

		%span#js-format-table.small.blue.label Format Table

.edit-pane
	-# don't leave an empty line under :preserve or it ends up getting
	-# appended to Ace's buffer and being saved!
	#editor<
		:preserve
			#{@pv && CGI.escapeHTML(@pv.content)}
.preview-pane
	.md-preview.md~ @pv&.render_html

-# on this page only, load jquery immediately, so I can setup the editor
-# without window.ready stuff. This page is for me only so I'm not worried
-# about performance here.
= assets [ :js, :jquery ]

-# and the markdown table formatter, which is only used here anyway
= assets [ :js, :admin ]

%script{src: '/dist/ace-builds/src-min/ace.js', type: 'text/javascript'}

:javascript
	/* set height of editor and preview to window height */
	$('.md-preview, #editor').height($(window).height() - 150);

	$('#js-hidden-ta').hide();

	var editor = ace.edit("editor");
	//editor.setTheme("ace/theme/monokai");
	editor.getSession().setMode("ace/mode/markdown");
	editor.getSession().setUseWrapMode(true);
	editor.renderer.setShowGutter(false);
	var updateTimeout;
	editor.on('input', function(e) {
		if (!updateTimeout) {
			updateTimeout = setTimeout(function() {
				$('#js-hidden-ta').val(editor.getSession().getValue());
				$.ajax({
					method: 'POST',
					url: '/p/preview',
					data: $('#js-edit-form').serialize()
				});
				updateTimeout = null;
			}, 500);
		}
	});

	// on save, copy editor contents into textarea for submission
	$('#js-edit-form').submit(function() {
		$('#js-hidden-ta').val(editor.getSession().getValue());
	});

	$('#js-format-table').click(function() {
	    var mtf = new MarkdownTableFormatter();
		mtf.format_table(editor.getSelectedText());
		editor.session.replace(editor.selection.getRange(), mtf.output_table);
	});
